@mixin animations($animation-name, $duration, $delay, $fill-mode) {
  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-name: $animation-name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: $delay;
  -moz-animation-fill-mode: $fill-mode;
  animation-name: $animation-name;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  animation-delay: $delay;
  animation-fill-mode: $fill-mode;
}

.amendments {
    position: relative;
    background: #222;

    &__header {
      position: absolute;
      width: 100%;
      top: 0;
      margin-top: 40px;
      text-align: center;
      color: #FFF;
      font-size: 20px;
      line-height: 150%;
      text-shadow: -3px 3px 0 rgba(0, 0, 0, 0.2);
      z-index: 200;
      @include animations(FadeInUp, 1s, 0, none);

      a {
        border-bottom: 2px $link-color solid;

        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
    }

    &__nav {
      opacity: 0.5;
      border: 0;
      background: transparent;
      color: #FFF;
      padding: 30px;
      font-size: 30px;
      outline: 0;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &__button {
      /*position: absolute;
      width: 100%;
      bottom: 40px;
      margin-top: 40px;
      text-align: center;*/
      margin-bottom: 40px;
      z-index: 200;
      @include animations(FadeIn, 1s, 1.2s, forwards);
      opacity: 0;

      .btn {
        font-size: 18px;
        color: $link-color;
        border-radius: 50px;
        border: 0;
        padding: 7px 30px;
        outline: 0;

        &:focus {
          outline: 0;
        }

        .glyphicon {
          
          margin-right: 10px;
          font-size: 16px;
        }
      }
    }

    &__overlay {
      background: #000;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    &__images {
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-size: cover;
      background-position: center;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-size: cover;
      background-position: center;
    }


    &__items {
      z-index: 100;
    }

    &__item {

        color: #FFF;
        text-align: center;
        position: relative;
        height: 600px;
        z-index: 200;

        &__content {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;

            .container {
              display: flex;
              align-content: center;
              flex-direction: column;
            }

            &__icon {
              position: relative;
              @include animations(FadeInUp, 1s, 0.3s, forwards);
              opacity: 0;

              img {
                height: 80px;
                margin: 20px 0 0 0;
              }
            }


            &__title {
              position: relative;
              font-family: CompromisBold, sans-serif;
              font-size: 40px;
              text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.2);
              max-width: 900px;
              max-height: 40px * 4;
              line-height: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              margin: 20px auto;
              @include animations(FadeInUp, 1s, 0.5s, forwards);
              opacity: 0;
            }


            &__info {
              position: relative;
              max-width: 600px;
              border: 2px rgba(255, 255, 255, 0.5) solid;
              padding: 10px;
              padding-left: 100px;
              font-size: 14px;
              margin: 0 auto;
              border-radius: 4px;
              text-align: left;
              @include animations(FadeInUp, 1s, 0.7s, forwards);
              opacity: 0;

              &__no {
                position: absolute;
                top: 20px;
                margin-top: -9px;
                left: 20px;
                width: 60px;
                background: $red;
                border-radius: 5px;
                padding: 5px;
                text-align: center;
                font-size: 18px;
                transform: rotate(10deg);
                @include animations(RotateNO, 1.5s, 0.7s, forwards);

                &:hover {
                  transform: rotate(-5deg);
                }
              }
            }

        }

    }

}

@media (min-width: $screen-md-min) {
  .amendments {
    &__header {
      font-size: 36px;
    }

    &__button {
      .btn {
        font-size: 22px;
        padding: 10px 40px;
      }
    }

    &__item {
      height: 800px;

      &__content {
        &__icon {
          img {
            height: 140px;
            margin: 20px 0 0 0;
          }
        }
        &__title {
          font-size: 64px;
          margin: 30px auto;
          max-height: 64px * 4;
        }
        &__info {
          font-size: 18px;
          padding: 20px;
          padding-left: 100px;
          border-width: 3px;

          &__no {
            margin-top: 2px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-height: 600px) {
  .amendments {
    &__header {
      margin-top: 20px;
    }

    &__item {
      height: 500px;

      &__content {
        &__icon {
          img {
            height: 60px;
          }
        }

        &__title {
          font-size: 25px;
          max-height: 25px * 4;
        }

        &__info {
          font-size: 13px;
        }
      }
    }
  }
}

@keyframes FadeInUp {
    from {
      top: 80px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
}

@keyframes FadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes RotateNO {
    0% {
      top: 50px;
      opacity: 0;
      transform: rotate(10deg);
    }
    40% {
      top: 20px;
      opacity: 1;
      transform: rotate(-5deg);
    }
    70% {
      top: 20px;
      opacity: 1;
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0);
    }
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}
