.navbar-compromis {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background: linear-gradient(270deg, #D4432F, #E28333);
  background-size: 200% 100%;
  -webkit-animation: HeaderOrange 15s ease infinite;
  -z-animation: HeaderOrange 15s ease infinite;
  -o-animation: HeaderOrange 15s ease infinite;
  animation: HeaderOrange 15s ease infinite;

  .navbar-brand {
    background: #FFF;
    width: 130px;
    padding: 12px 10px;

    img {
      width: 100%;
    }

    &:hover {
      background: #FFF;
    }
  }

  .navbar-campaign-name {
    float: left;
    margin: 12px 10px;

    a {
      font-family: CompromisBold, 'Helvetica', sans-serif;
      color: #FFF;
      font-size: 18px;
    }
  }
}

.navbar-default {
  .navbar-nav > li > a {
    color: #FFF;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  .navbar-toggle {
    border-color: transparent;
    background-color: transparent;

    &:hover, &:focus {
      background-color:transparent;
    }

    .icon-bar {
      background-color: #FFF;
    }
  }
}

@-webkit-keyframes HeaderOrange {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@-moz-keyframes HeaderOrange {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes HeaderOrange {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@media (min-width: $screen-md-min) {
  .navbar {
    .navbar-brand {
      width: 200px;
      padding: 7px 20px;
    }

    .navbar-campaign-name {
      margin: 9px 20px;

      a {
        font-size: 22px;
      }
    }
  }
}
