.navbar-compromis {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  @include compromis-gradient;
  background-size: 200% 100%;
  -webkit-animation: HeaderOrange 15s ease infinite;
  -moz-animation: HeaderOrange 15s ease infinite;
  -o-animation: HeaderOrange 15s ease infinite;
  animation: HeaderOrange 15s ease infinite;

  .navbar-brand {
    background: #FFF;
    width: 130px;
    padding: 12px 10px;

    img {
      width: 100%;
    }

    &:hover {
      background: #FFF;
    }
  }

  .navbar-campaign-name {
    float: left;
    margin: 12px 10px;

    a {
      font-family: CompromisBold, 'Helvetica', sans-serif;
      color: #FFF;
      font-size: 18px;
    }
  }
}

.navbar-default {
  .navbar-nav > li > a {
    color: #FFF;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  .navbar-toggle {
    border-color: transparent;
    background-color: transparent;

    &:hover, &:focus {
      background-color:transparent;
    }

    .icon-bar {
      background-color: #FFF;
    }
  }
}

.share-buttons {
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 20px;

  .twitter-share-button {
    top: 5px;
    position: relative !important;
    margin-left: 4px;
  }
}


.navbar-right {
  li {
    border-left: 1px rgba(255, 255, 255, 0.5) solid;
  }

  li:first-child {
    border-left: 0;
  }
}

@media (min-width: $screen-md-min) {
  .navbar {
    .navbar-brand {
      width: 200px;
      padding: 7px 20px;
    }

    .navbar-campaign-name {
      margin: 9px 20px;

      a {
        font-size: 22px;
      }
    }
  }
}
