.block {
  background: #FFF;
  padding: $block-padding;
  border-top: 5px $brand-primary  solid;

  p {
    font-size: 18px;
    line-height: 150%;
  }
}
.main-text {

  h2 {
    margin-top: 0;
    text-align: center;

    img {
      width: 300px;
    }
  }

  p {
    font-size: 18px;
    line-height: 150%;
  }
}

.percentages {
  margin-top: $block-padding;
  color: $gray;

  .col-xs-4 {
    text-align: center;
  }

  svg {
    max-width: 50px;
  }

  &__numbers {
    font-size: 30px;
    font-family: CompromisBold, sans-serif;
  }

  &__number--red {
    color: $red;
  }

  &__legend {
    font-size: 15px;
    font-family: CompromisBold;
  }

  p {
    font-size: 15px;

  }
}

.map {
  position: relative;
  padding: 0;

  &__legend {
    position: absolute;
    bottom: $block-padding;
    left: $block-padding;
    font-size: 18px;
    font-family: Compromis;
    color: #888;
    line-height: 1;
  }
}

.heading {
  display: block;
  padding: $block-padding;
  color: #222;

  &__source {
    display: block;
    margin-bottom: 10px;

    img {
      height: 15px;
    }
  }

  &__text {
    font-size: 28px;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: bold;
    line-height: 1;
  }

  &:hover {
    text-decoration: none;
    color: #222;
  }
}

.heading--abc {
  padding: 0;
  margin-bottom: 20px;
  color: #34495E;

  .heading__text {
    font-family: Georgia, serif;
    font-weight: normal;
    color: #34495E;
  }
}

.heading--levante {
  padding: 0;
  margin-bottom: 20px;

  .heading__source img {
    height: 25px;
  }
}

.chart {
  margin-top: $block-padding;
}

.chart {

  &__wrapper {
    position: relative;
    height: 500px;
    width: 150px;
  }

  &__bar {
    color: #FFF;
    font-family: CompromisBold, sans-serif;
    font-size: 22px;
    text-align: right;

    span {
      display: block;
      padding: 20px;
    }
  }

  &__bar--total {
    background: $brand-primary;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;;
    position: absolute;

    &:hover {
      background: lighten($brand-primary, 10%);
    }
  }

  &__bar--budgeted {
    position: absolute;
    background: #8A919B;
    height: 80%;
    border-left: 2px #FFF solid;
    border-top: 2px #FFF solid;
    bottom: 0;
    right: 0;
    left: 10px;

    &:hover {
      background: lighten(#8A919B, 10%);
    }
  }

  &__bar--executed {
    position: absolute;
    background: #646870;
    height: 40%;
    left: 20px;
    border-left: 2px #FFF solid;
    border-top: 2px #FFF solid;
    bottom: 0;
    right: 0;

    &:hover {
      background: lighten(#646870, 10%);
    }
  }
}


.debt {
  margin-top: $block-padding;

  &__counter {
    font-family: CompromisBold, sans-serif;
    font-size: 34px;
    color: $red;
    text-align: center;
    padding: 10px 0;
    border-top: 2px $red solid;
    border-bottom: 2px $red solid;
    background: lighten($red, 52%);
    margin-bottom: 10px;

    .glyphicon {
      font-size: 30px;
    }
  }

  h2 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.video {
  margin-top: $block-padding;
  padding: 0;

  &__share {
    background: #333;
    padding: 10px 20px;
  }
}

.video--responsive {
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;

    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        border: 0;
        overflow: hidden;
    }
}

.take-action {
  margin-top: $block-padding;

  h2 {
    margin-top: 0;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  li:last-child {
    margin-bottom: 0;
  }


  &__social-button {
    display: block;
    background: #CCC;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-family: Compromis, sans-serif;
    color: #FFF;
    transform: 0.4s ease-in;

    &:hover {
      color: #FFF;
      text-decoration: none;
    }

    .glyphicon {
      margin-right: 10px;
    }
  }

  &__social-button--facebook {
    background: #4267B2;

    &:hover {
      background: lighten(#4267B2, 10%);
    }
  }

  &__social-button--twitter {
    background: #1B95E0;

    &:hover {
      background: lighten(#1B95E0, 10%);
    }
  }

}
