.block {
  background: #FFF;
  padding: $block-padding;
  border-top: 5px $brand-primary  solid;

  p {
    font-size: 18px;
    line-height: 150%;
  }
}

.block--animate {
  @include animations(FadeInUp, 1s, 0, none);
}

.main-text {

  h2 {
    margin-top: 0;
    text-align: center;

    img {
      width: 300px;
    }
  }

  p {
    font-size: 18px;
    line-height: 150%;
  }
}

.heading {
  display: block;
  padding: $block-padding;
  color: #222;

  &__source {
    display: block;
    margin-bottom: 10px;

    img {
      height: 15px;
    }
  }

  &__text {
    font-size: 28px;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: bold;
    line-height: 1;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #222;

    .heading__text:after {
      content: "\e164";
      font-family: "Glyphicons Halflings";
      font-size: 14px;
      color: $gray-light;
      margin-left: 5px;
    }
  }
}

.heading--abc {
  padding: 0;
  margin-bottom: 20px;
  color: #34495E;

  .heading__text {
    font-family: Georgia, serif;
    font-weight: normal;
    color: #34495E;
  }
}

.heading--levante {
  padding: 0;
  margin-bottom: 20px;

  .heading__source img {
    height: 25px;
  }
}

.video {
  margin-top: $block-padding;
  padding: 0;

  &__share {
    background: #333;
    padding: 10px 20px;
  }
}

.video--responsive {
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;

    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        border: 0;
        overflow: hidden;
    }
}

@import 'modules/_amendments';
@import 'modules/_chart';
@import 'modules/_debt';
@import 'modules/_map';
@import 'modules/_motions';
@import 'modules/_percentages';
@import 'modules/_take-action';
