@import '../bootstrap/customizations.scss';

$defaultFont: Compromis, Helvetica, arial, sans-serif;
$lightFont: CompromisLight, Helvetica, arial, sans-serif;
$boldFont: CompromisBold, Helvetica, arial, sans-serif;

$red: #A73C2E;
$gray: #646871;
$gray2: #8A919B;
$block-padding: 30px;
$gradient-from: #D4432F;
$gradient-to: #E28333;

@mixin compromis-gradient {
  background: linear-gradient(270deg, $gradient-from, $gradient-to);
}

@mixin animations($animation-name, $duration, $delay, $fill-mode) {
  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-name: $animation-name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: $delay;
  -moz-animation-fill-mode: $fill-mode;
  animation-name: $animation-name;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  animation-delay: $delay;
  animation-fill-mode: $fill-mode;
}

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: Compromis, sans-serif;
}

strong {
  font-family: CompromisBold, sans-serif;
  font-weight: normal;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.main-container {
  margin-top: 30px;
}

@import 'header';
@import 'home';
@import 'footer';
@import 'animations';
