@import '../bootstrap/customizations.scss';

$red: #D5472F;

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: Compromis, sans-serif;
}

strong {
  font-family: CompromisBold, sans-serif;
  font-weight: normal;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@import 'header';

@import 'amendments';
