.debt {
  margin-top: $block-padding;

  &__counter {
    font-family: CompromisBold, sans-serif;
    font-size: 34px;
    color: $red;
    text-align: center;
    padding: 10px 0;
    border-top: 2px $red solid;
    border-bottom: 2px $red solid;
    background: lighten($red, 52%);
    margin-bottom: 10px;

    .glyphicon {
      font-size: 30px;
    }
  }

  h2 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
